[submodule "projects/ZLAA-cics-config"]
	path = projects/ZLAA-cics-config
	url = https://github.com/ibm-z-pot/ZLAA-cics-config
[submodule "projects/ZJAA-cics-progb"]
	path = projects/ZJAA-cics-progb
	url = https://github.com/ibm-z-pot/ZJAA-cics-progb
[submodule "projects/cobol-java-interop-framework"]
	path = projects/cobol-java-interop-framework
	url = https://github.com/ibm-z-pot/cobol-java-interop-framework
